# Rodrigo Rodriguez Bot - .dockerignore

.git
.gitignore

venv/
env/
.venv/

__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

data/*.sqlite3
data/*.sqlite3-*

*.md
docs/

*.ps1

ngrok.exe
ngrok

.env

.vscode/
.idea/
*.swp
*.swo

.DS_Store
Thumbs.db
